<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="main-notification">
      <div>
        <img src="./images/notification.png" />
      </div>
      <div class="items-container">
        <div class="item-icon">
          <img src="./images/dollor1.svg" />
        </div>
        <div class="item-message">
          <p>New order has been received</p>
          <p>2 hours ago</p>
        </div>
        <div class="item-arrow"><img src="./images/arrow-right.png" /></div>
      </div>
      <div class="items-container">
        <div class="item-icon">
          <img src="./images/users-icon.svg" />
        </div>
        <div class="item-message">
          <p>New New customer register</p>
          <p>2 hours ago</p>
        </div>
        <div class="item-arrow"><img src="./images/arrow-right.png" /></div>
      </div>
      <div class="items-container">
        <div class="item-icon">
          <img src="./images/product-icon.svg" />
        </div>
        <div class="item-message">
          <p>New product launched</p>
          <p>2 hours ago</p>
        </div>
        <div class="item-arrow"><img src="./images/arrow-right.png" /></div>
      </div>
      <div class="items-container">
        <div class="item-icon">
          <img src="./images/dollor1.svg" />
        </div>
        <div class="item-message">
          <p>New order has been received</p>
          <p>2 hours ago</p>
        </div>
        <div class="item-arrow"><img src="./images/arrow-right.png" /></div>
      </div>
      <div class="items-container">
        <div class="item-icon">
          <img src="./images/dollor1.svg" />
        </div>
        <div class="item-message">
          <p>New order has been received</p>
          <p>2 hours ago</p>
        </div>
        <div class="item-arrow"><img src="./images/arrow-right.png" /></div>
      </div>
    </div>
  </body>
</html>
