<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="container">
      <div class="form">
        <div class="navigation">
          <div class="form__navigation-left"><img src="./images/login/arrow-right.svg" /><span>Go back</span></div>
          <div class="form__navigation-right">
            <span>Have an account? <a>Sign In</a></span>
          </div>
        </div>

        <div class="form__title">
          <h6>Sign up to Brainalityca</h6>
          <p>Sign up on the internal platform</p>
        </div>
        <div class="form__group">
          <input type="text" placeholder="First Name" />
        </div>
        <div class="form__group">
          <input type="text" placeholder="Manea" />
        </div>
        <div class="form__group">
          <input type="email" placeholder="Email Address" />
        </div>
        <div class="form__group">
          <input type="password" placeholder="Password" />
        </div>
        <div class="form__group">
          <input type="checkbox" />
          <span>I have read the <a>Terms and Conditions</a></span>
        </div>
        <div class="form__group">
          <input type="submit" value="SIGN UP NOW" />
        </div>
      </div>
      <div class="form form-image">
        <div class="form-side-image">
          <div class="image-content">
            <p>Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life.</p>
            <div class="img-profile">
              <img src="./images/Oval.png" />

              <div class="customer">
                <p>Takamaru Ayako</p>
                <p>Manager an inVision</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
